/* Arrow */
.arrow_icon {
    width: 1em;
    height: 1em;
    font-size: 1.5rem;
    fill: currentColor;
    color: var(--font-color);
    user-select: none;

    position: absolute;
    top: 50%;
    right: 0;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.arrow_icon--close {
    transform: translateY(-50%) rotate(0deg);
}

.arrow_icon--open {
    transform: translateY(-50%) rotate(180deg);
}

/* Accordion */
.accordion {
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    border-top: 1px solid var(--font-color);
    padding: 0 16px;
    padding-left: 4.2%;
    margin-top: 20px;
}

.accordion__body {
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.accordion__open {
    overflow: visible;
}

.accordion__close {
    overflow: hidden;
    visibility: hidden;
}

.accordion__title {
    display: flex;
    align-items: center;
    min-height: 48px;
    cursor: pointer;
    position: relative;
}